@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
   
    font-size: 0.8rem;
}

ul{
    list-style: none;
}

button{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: rgba(0, 0,255, .8);
}

a:hover{
    color: blue;
}

.btn{
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border: none;
}

.navBtn{
    background-color: blue;
    color: white;
}

.blueBtn{
    background-color: rgba(0, 0, 255, .8);
    color: white;
}

.blueBtn:hover{
    box-shadow: 0 2px 8px rgba(0, 0,255, .5);
    background-color: blue;
}

.whiteBtn{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 1rem;
}

.whiteBtn:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

h1{
    font-size: 3.4rem;
    font-weight:900;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

header ul li{
    display: inline-block;
    margin: 0.6rem;
}

.blueUnderlined{
    color: blue;
    text-decoration: underline;
}

.leftList li:hover{
    text-decoration: underline;
}

.rightList li:hover{
    text-decoration: underline;
}

.rightList{
    margin-right: 2rem;
}

.fixedHeader{
    position: fixed;
    background-color: #ffffff;
    padding: 0.2rem;
    z-index: 1;
}

.navContainer{
    width: 98%;
    margin: auto;
    font-size: 0.7rem;;
}

.rightPartRight{
    width: 18%;
}

.blueBackground{
    background-color: #b4d0e7;
    height: 600px;
}

.headerContentContainer{
    padding-top: 6%;
}

.mainTitle{
    margin-bottom: 4%;
}

.headerImage{
    width: 68%;
}

.headerText-btn *{
    margin-bottom: 1.5rem;
}

.arrow{
    margin-top: 4rem;
    font-size: 3rem;
}

section{
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 55%;
}

h3{
    margin-bottom: 1rem;
}

.sectionTitle{
    margin-bottom: 2rem;
}

.radio{
    margin-bottom: 2rem;
}

.plansContainer{
    margin-bottom: 2rem;
}

.planColumn{
    width: 30%;
    border: 1px solid black;
}

.planSuggestion{
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.featuresContainer{
    padding: 1rem;
}

.planList{
    padding-left: 8%;
}

.planList li{
    margin-bottom: 1rem;
    text-indent: -8%;

}

.user::before{
    content: "\f007";
    font-family: "Font Awesome 5 Free";
}

.folder::before{
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
}

.share::before{
    content: "\f1e1";
    font-family: "Font Awesome 5 Free";
}

.feature::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: blue
}

.planBtn{
    margin-bottom: 1rem;
}

.smallBar{
    background-color: gray;
    height: 1px;
    margin: 2rem 0;
}

.featuresContainer ul{
    margin: 2rem 0;
}

.rowPlanContainer{
    border: 1px solid black;
}

.rowPlanContainer h4{
    margin-bottom: 2rem;
}

.btnContainer{
    text-align: center;
}

.featuresContainer > button{
    justify-self: center;
}

.partnerTxt{
    width: 35%;
    align-self: center;
}

.partnerImg > img{
    vertical-align: middle;   
}

.col1,
.col2,
.col3{
    width: calc(100% / 3);
}

.square{
    height: 0;
    width: 50%;
    padding-bottom: 46%;
    background-color: red;
}

.square img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.designit{
    background-color: #a3d39b;
    border: 10px solid #d1e9cd;

}

.arizona{
    background-color: #61082b;
    border: 10px solid #61082b;
}

.florida{
    background-color: #0093CE;
    border: 10px solid #0093CE ;
}

.topps{
    background-color: #ff1d1d;
    border: 10px solid #ff1d1d ;
}

.bicycle{
    background-color: #d5001e;
    border: 10px solid #d5001e;
}

.hearst{
    background-color: #b4d0e7;
    border: 10px solid #b4d0e7;
}

.lonely{
    background-color: #0d2481;
    border: 10px solid #0d2481;
}

.clear{
   background-color: #ffd830;
   border: 10px solid #ffd830;
}

.col2{
    background-color: #f5f5f5;
    padding: 2rem;
}

.col2 p{
    margin-bottom: 4rem;
}

.portaDropbox{
    padding: 3rem 3rem;
    background-color: #b4d0e7 ;
    margin-bottom: 4rem;
}

.question{
    border-top: 1px solid black;
    padding: 2rem 0;   
}

.dropdown{
    font-weight: 600;
}

.hoverAnswer{
    display: none;
}

.question:hover + .hoverAnswer{
    display: inline-block;
}

footer{
    padding: 5% 0 3%;
    background-color: black;
    color: white;
}

footer ul{
    font-weight: 800;
}

footer h3{
    margin-bottom: 1rem;
}

.footerList li{
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.smallBarFooter{
    background-color: white;
    height: 1px;
    width: 6%;
    margin: 2rem 0;
    margin-left: calc(35% / 2);
}

#langSel{
    background: none;
    border: none;
    color: white;
}

421