@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
   
    font-size: 0.8rem;
}

header{
    font-size: 0.8rem;
}

button{
    font-family: 'Open Sans', sans-serif;
}

.navBtn{
    font-size: 0.8rem;
}

.bigButton{
    font-size: 0.8rem;
}

h1{
    font-size: 3.4rem;
    font-weight:900;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin: 0.6rem;
}

.blueUnderlined{
    color: blue;
    text-decoration: underline;
}

.rightList{
    margin-right: 2rem;
}

.fixedHeader{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 0.2rem;
    z-index: 1;
}

.navContainer{
    width: 98%;
    margin: auto;
    font-size: 0.7rem;;
}

.leftHeader,
.rightHeader{
    width: 40%;
}

.logo{
    width: 20%;
}

.rightPartRight{
    width: 15%;
}

.blueBackground{
    width: 100%;
    background-color: #b4d0e7;
    height: 600px;
}

.headerContentContainer{
    border: 1px solid black;
    padding-top: 6%;
}

.mainTitle{
    margin-bottom: 4%;
}

.headerText-btn{
    width: 30%;
}

.headerImage{
    width: 68%;
}

.headerImage > img{
    width: 100%;
}

.headerText-btn *{
    margin-bottom: 1.5rem;
}

.arrow{
    margin-top: 5rem;
}

section{
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 55%;

}

.sectionTitle{
    margin-bottom: 2rem;
}

.radio{
    margin-bottom: 2rem;
}

.plansContainer{
    margin-bottom: 2rem;
}

.planColumn{
    width: 30%;
    border: 1px solid black;
}

.planSuggestion{
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.featuresContainer{
    padding: 1rem;
}

.planList{
    list-style: none;
}

.smallBar{
    background-color: gray;
    height: 1px;
    width: 20%;
    margin: 2rem 0;
}

.featuresContainer ul{
    margin: 2rem 0;
}

.rowPlanContainer{
    border: 1px solid black;
}

.btnContainer{
    width: 30%;
    text-align: center;
}

.txtContainer{
    width: 60%;
}

.featuresContainer > button{
    justify-self: center;
}

.partnerImg{
    width: 60%;
}

.partnerTxt{
    width: 35%;
    align-self: center;
}

.partnerImg > img{
    width: 100%; 
    vertical-align: middle;   
}

.card > img{
    width: 100%;
}

.card{
    width: 30%;
}

.section4 > h2{
    width: 60%;
}

.col1,
.col2,
.col3{
    width: calc(100% / 3);
}

.square{
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    background-color: red;
}

.square img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit{
    background-color: #a3d39b;
}

.arizona{
    background-color: #61082b;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #ff1d1d;
}

.bicycle{
    background-color: #d5001e;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely{
    background-color: #0d2481;
}

.clear{
   background-color: #ffd830;
}

.col2{
    background-color: #f5f5f5;
    padding: 2rem;
}

.bigLogo{
    width: 50%;
}

.col2 p{
    margin-bottom: 4rem;
}

.portaDropbox{
    padding: 3rem 3rem;
    background-color: #b4d0e7 ;
    margin-bottom: 4rem;
}

.question{
    border-top: 1px solid black;
    padding: 2rem 0;
    
}

.section6 :last-child{
    border-bottom: 1px solid black;
}

.dropdown{
    text-decoration: none;
}

footer{
    padding: 5rem 0;
    background-color: black;
    color: white;
}

footer ul{
    list-style: none;
    font-weight: 800;
}

