@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: lightskyblue;
    font-size: 0.8rem;
}

header{
    font-size: 0.8rem;
}

button{
    font-family: 'Open Sans', sans-serif;
}

.navBtn{
    font-size: 0.8rem;
}

.bigButton{
    font-size: 0.8rem;
}

h1{
    font-size: 3.4rem;
    font-weight:900;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin: 0.6rem;
}

.blueUnderlined{
    color: blue;
    text-decoration: underline;
}

.rightList{
    margin-right: 2rem;
}

.fixedHeader{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 0.2rem;
}

.navContainer{
    width: 98%;
    margin: auto;
    font-size: 0.7rem;;
}

.leftHeader,
.rightHeader{
    width: 40%;
}

.logo{
    width: 20%;
}

.rightPartRight{
    width: 15%;
}

.blueBackground{
    width: 100%;
    background-color: #b4d0e7;
    height: 600px;
}

.headerContentContainer{
    border: 1px solid black;
    padding-top: 6%;
}

.mainTitle{
    margin-bottom: 4%;
}

.headerText-btn{
    width: 30%;
}

.headerImage{
    width: 68%;
}

.headerImage > img{
    width: 100%;
}

.headerText-btn *{
    margin-bottom: 1.5rem;
}

.arrow{
    margin-top: 5rem;
}

section{
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 55%;
    border: 1px solid red;
}

.sectionTitle{
    margin-bottom: 2rem;
}

.radio{
    margin-bottom: 2rem;
}

.plansContainer{
    margin-bottom: 2rem;
}

.planColumn{
    width: 30%;
    border: 1px solid black;
}

.planSuggestion{
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.featuresContainer{
    padding: 1rem;
}

.planList{
    list-style: none;
}

.smallBar{
    background-color: gray;
    height: 1px;
    width: 20%;
    margin: 2rem 0;
}

.featuresContainer ul{
    margin: 2rem 0;
}

.rowPlanContainer{
    border: 1px solid black;
}

.btnContainer{
    width: 30%;
    text-align: center;
}

.txtContainer{
    width: 60%;
}

.featuresContainer > button{
    justify-self: center;
}

.partnerImg{
    width: 60%;
}

.partnerTxt{
    width: 35%;
    align-self: center;
}

.partnerImg > img{
    width: 100%; 
    vertical-align: middle;   
}

.card > img{
    width: 100%;
}

.card{
    width: 30%;
}

.section4 > h2{
    width: 40%;
}

.col1,
.col2,
.col3{
    width: 30%;
}

.square{
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    background-color: red;
}

.square img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square{
   
}